body{
    background-color: black;
    width: 100%;
}

section{
    margin: 0 60px;
}

h3{
    color: white;
    font-size: 20px;
}

.grinch{
    background-color: rgb(188, 248, 188);
}

.movie-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    height: 190px;
}

.img-big{
    height: 300px;
    cursor: pointer;

}

.world-movie{
    display: flex;
    overflow: auto;
}

.world-movie li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    
}

.world-movie span{
    color: rgb(197, 190, 190);
    font-size: 200px;
    height: 190px;
    font-family: 'Londrina Outline', cursive;

    
}