body{
    background-color: black;
    /* width: 100%; */
}

/* section{
    margin: 0 60px;
} */

h3{
    color: white;
    font-size: 20px;
    margin: 50px 0 10px 50px;
}



/* .movie-img{
    display: flex;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
} */

/* .movie-img img:hover{
    transform:scale(1.5,1.5);
} */

/* .movie-img div{
    position: relative;
}

.movie-img a{
    position: absolute;
} */

/* img{
    height: 190px;
    margin-right: 5px;
} */

/* .img-big{
    height: 300px;
    cursor: pointer;

} */

/* .world-movie{
    display: flex;
    overflow: auto;
} */

/* .world-movie li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    
} */

.world-movie span{
    color: rgb(197, 190, 190);
    font-size: 200px;
    height: 190px;
    font-family: 'Londrina Outline', cursive;

    
}


.slider1,
.slider2{
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    margin: auto;
    width: 90%;
}

.slider1 img{
    height: 200px;
    /* width: auto; */
    /* padding-right: 5px; */
    /* background: white; */
    cursor: pointer;
}

/* .slider img:hover{
    transform:scale(1.5,1.5);
    
} */
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: white;
}

.slick-dots li
button:before{
    color: white;
}


.slick-initialized .slick-slide{
    display: flex;
}