body{
    background-color: black;
    width: 100%;
}

/* section{
    margin: 0 60px;
} */

h3{
    color: white;
    font-size: 20px;
    margin: 0 0 0 60px;
}


/* .movie-img{
    display: flex;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
} */
.movie-img::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}
.world-movie::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

/* .movie-img img:hover{
    transform:scale(1.5,1.5);
} */

/* .movie-img div{
    position: relative;
}

.movie-img a{
    position: absolute;
} */

/* img{
    height: 190px;
    margin-right: 5px;
} */

/* .img-big{
    height: 300px;
    cursor: pointer;

} */

/* .world-movie{
    display: flex;
    overflow: auto;
} */

/* .world-movie li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    
} */

.world-movie span{
    color: rgb(197, 190, 190);
    font-size: 200px;
    height: 190px;
    font-family: 'Londrina Outline', cursive;

    
}


/* html{
    background-color: black;
} */
.header{
    background-color: black;
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 100px;
}

.top li{
    margin:20px 0 0 20px;
}

.header ul li a {
    color: white;
    font-size: 13px;
    text-decoration: none;
    font-weight: 100;
  
}

h1{
    color: red;
    font-size: 35px;
    font-weight: 100;
    background-color: black;
    margin: 20px 0 0 50px;
    font-family: 'Oswald', sans-serif;
}

#look{
    color: white;
    font-size: 20px;
    padding-right: 10px;

}

.icon{
    background-color: black;
    width: auto;
    height: 50px;
    margin: 20px 0 20px 20px;
    
}

.footer ul a{
color: white;
font-size: 25px;
margin-left: 20px;

}

footer p{
    background-color: black;
    color: gray;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 10px;
}
.footer2{
    background-color: black;
display: flex;
}

.link{
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
}

.boder{
    background-color: black;
    color: gray;
    border: 1px solid gray;
}

.footer2 ul a{
    color: gray;
    font-size: 20px;
    padding: 5px 30px 5px 30px;
    text-decoration: none;
}

.btn{
    background-color: black;
    color: gray;
    border: 1px solid gray;
    margin-left: 40px;
    padding: 5px;
}
.btn:hover{
    color: white;
}
#option{
display: none;
background-color: rgba(0, 0, 0, 0.523); 
width: 150px;
height: 30px;  
color: white; 
}



.slider1,
.slider2{
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    margin: auto;
    width: 90%;
}

/* .slider1 img{
    height: 200px;
    /* width: auto; */
    /* padding-right: 5px; */
    /* background: white; */
    /* cursor: pointer;
} */ 

.slider1 img,
.slider2 img{
    height: 200px;
    transition: all .5s ease;
    /* width: auto; */
    /* padding-right: 5px; */
}

.slider1 img:hover,
.slider2 img:hover{
    transform:scale(1.2,1.2);
    
}

.slick-track{
    padding: 20px 0;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: white;
}

.slick-dots li
button:before{
    color: white;
}


.slick-initialized .slick-slide{
    display: flex;
}




.h3nozomi{
    margin-top: 110px;
}

@media screen and (max-width:780px){
    .header{
        width: auto;
    }
    .footer{
width: 100vh;

    }
    .footer2{
        width: 100vh;
        font-size: 10px;
        display: flex;
        flex-direction: column;
    }
    .header ul i{
    display: none;
    }

    html{
        overflow-x: hidden;
    }

    .slider1 img,
    .slider2 img{
        height: 110px;  
    }

    .world-movie span{
        
        font-size: 100px;
        
    
        
    }
}